:root {
    --main: rgb(111, 136, 111);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    /*   font-family: 'Multi', sans-serif; */
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1em;
}
button {
    appearance: none;
    border-radius: 0px;
    outline: none;
    background-color: white;
    border: 2px solid black;
    padding: 0.5em 1.5em;
}
button:hover {
    cursor:pointer;
    background-color: rgb(200, 189, 189);
}
.ButtonC-container-title { margin: 30px; }
.ButtonC-container-title h1 {
    display: inline-block;
    border-bottom: 5px solid var(--main);
}
.ButtonC, .BoostersC {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.BoostersC-container {
    box-shadow: 10px 10px 0px 0px var(--main);
}
.ButtonC-container, .BoostersC-container{
    display: inline-block;
    border: 5px solid black;
    text-align: center;
    width: 80%;
    padding: 10vh 0;
}
.ButtonC-container {
    padding: 32vh 0;
    margin: 10vh 0;
    box-shadow: 10px 10px 0px 0px var(--main);
}
/* mobile  */
@media(max-width: 418px){
    .ButtonC-container {
        padding: 30vh 0;
    }
}
/* galaxy fold */
@media(max-width: 294px){
    .ButtonC-container {
        padding: 25vh 0;
    }
    .Stats-stat {
        font-size: 0.6em;
    }
} 

.Stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:fixed;
    background: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 5px solid var(--main);
}
.Stats-stat {
    margin: 1em 0.4em;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
}
.Stats-stat-num {
    position: relative;
    margin-left: 0.5em;
    color: rgb(63, 141, 63);

}
#Stats-stat-cash {
    display: flex;
    flex-direction: column;
}
.ButtonC-popupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ButtonC-popupDiv {
    position: absolute;
}
.ButtonC-popup {
    position: relative;
    font-size: 2em;
    animation-name: fade;
    animation-duration: 500ms;
    color:rgb(63, 141, 63, 0);
}
@keyframes fade {
    0% {
        color: rgb(63, 141, 63);
        top: 0;
    }
    100% {
        color: rgb(63, 141, 63, 0);
        top: -50px;
    }
}
#BoostersC-Booster1, #BoostersC-Booster2 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 1em;
    border-left: 5px solid green;
    padding-left: 1em;
    padding-top: -50px;
    transition: 100ms;
}
.BoostersC-title {
    margin-bottom: 2em;
}
.BoostersC-title h1 {
    display: inline-block;
    border-bottom: 5px solid var(--main);
}
#BoostersC-Booster1-cat, #BoostersC-Booster2-cat {
    margin: 0.4em;
    text-align: start;
}